---
// Component Imports
import "../css/style.css";
import "../css/id.css";
import "../css/info.css";
import "../css/desktop.css";
import "../css/mobile.css";
import Footer from "../components/footer.astro";
import Head from "../components/header.astro";
---

<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Trains of Ruegen</title>
	</head>
	<body>
		<Head />
		<main class="cd-main-content">
			<div class="items">
				<div class="station center">WORK IN PROGRESS</div>
			</div>
			<Footer />
		</main>
	</body>
</html>
