---
// Component Imports
import "../css/style.css";
---

<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="../js/modernizr.js"></script>
		<script src="../js/jquery.js"></script>
		<script src="../js/jquery-menu.js"></script>
		<script src="../js/main.js"></script>
		<title>Trains of Ruegen</title>
	</head>
	<body>
		<header>
			<div class="cd-dropdown-wrapper">
				<a class="cd-dropdown-trigger" href="#0"> Menu </a>
				<nav class="cd-dropdown">
					<h2>Menu</h2>
					<ul class="cd-dropdown-content">
						<li>
							<a href="index.html"> Index </a>
						</li>
						<li>
							<a href="info.html"> Helpful information </a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<main class="cd-main-content">
			<div id="copyright">
				&copy; 2024 - 2025 EMA Gymnasium, Bergen on Ruegen - All Rights
				Reserved.
			</div>
		</main>
	</body>
</html>
