---
// Component Imports
import "../css/style.css";
import "../css/id.css";
import "../css/info.css";
import "../css/desktop.css";
import "../css/mobile.css";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Trains of Ruegen" />
		<meta
			name="keywords"
			content="Trains, Ruegen, EMA, EMA-Gym, Gym, EMA-Gymnasium, Gymnasium, Bergen, Bergen auf Ruegen, Stralsund, Sassnitz, Lauterbach, Goehren, Binz, RE27, RE9, Zug, Zugebringer, Racing Roland"
		/>
		<title>Trains of Ruegen</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<header>
			<div class="cd-dropdown-wrapper">
				<a class="cd-dropdown-trigger" href="#0"> Menu </a>
				<nav class="cd-dropdown">
					<h2>Menu</h2>
					<a href="#0" class="cd-close"> Close </a>
					<ul class="cd-dropdown-content">
						<li>
							<a href="index.html"> Index </a>
						</li>
						<li>
							<a href="info.html"> Helpful Information </a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<main class="cd-main-content">
			<h1 class="center re9">
				RE9 <br /> Stralsund - Sassnitz; Baltic resort Binz
			</h1>
			<div class="items">
				<div id="9sass">
					<div class="station">Sassnitz</div>
					<div class="desc">
						Sassnitz is the white harbor town by the sea, it has about 10,000
						residents, with that, it is the second-largest city. She owns a port
						where until 2000 the \"Stenaline\" a ferry to Trelleborg (Sweden)
						was departing. From this port, freight trains were shipped to the
						USSR during the GDR era.
					</div>
				</div>
				<div id="9lanc">
					<div class="station">Lancken</div>
					<div class="desc">
						Lancken is a part of Sassnitz. This station is only equipped for the
						essentials, such as an intercom system, a timetable, and a shelter.
						In addition, there is a track to the chalk mine.
					</div>
				</div>
				<div id="9saga">
					<div class="station">Sagard</div>
					<div class="desc">
						Sagard is a small town with 2,460 residents. Her train station looks
						more modern than Lancken's.
					</div>
				</div>
				<div id="9binz">
					<div class="station">Baltic resort Binz</div>
					<div class="desc">
						The Baltic resort Binz train station is the main train station of
						the popular seaside resort Binz on the island of Ruegen. It was
						opened on May 15, 1939. The reception building dates back to 1938
						and is still in operation today. The station has three platform
						tracks and is accessible for people with disabilities. It is
						regularly served by regional and long-distance trains, offering
						connections to cities such as Berlin, Hamburg, and Munich. The
						central location of the station allows travelers to reach the town
						center, the pier, and the fine sandy beach within a few minutes on
						foot. In addition, there is a connection to public transportation
						and taxis at the station, making it easy to continue traveling
						within Binz and beyond.
					</div>
				</div>
				<div id="9liet">
					<div class="station">Lietzow (Ruegen)</div>
					<div class="desc">
						The Lietzow (Ruegen) train station was opened in 1891 as a stop on
						the Stralsund–Sassnitz railway line and is located on the southern
						edge of Lietzow. Since 1939, the railway line to Binz branches off
						here, making Lietzow an important transfer point on the island of
						Ruegen. In 2009/10, an extensive renovation of the station took
						place, during which the number of main tracks was reduced to four.
						Today, the station is served by regional trains of the Ostdeutsche
						Eisenbahn GmbH (ODEG), which offer connections between Rostock,
						Stralsund, Sassnitz, and Binz. However, there is always a shuttle
						train that goes to the other stop.
					</div>
				</div>
				<div id="9berg">
					<div class="station">Bergen(Ruegen)</div>
					<div class="desc">
						Bergen is the district town of Ruegen and is the most populous city
						on Ruegen. It is one of the central traffic hubs of the island of
						Ruegen. It has facilities such as bicycle parking, parking spaces,
						and taxis. The DB Travel Center offers personal consultation and
						ticket sales.
					</div>
				</div>
				<div id="9tesc">
					<div class="station">Teschenhagen</div>
					<div class="desc">
						The Teschenhagen station is located in the municipality of Sehlen on
						the island of Ruegen and was opened on July 1, 1883. It is located
						on the Stralsund–Sassnitz railway line and has two tracks with
						corresponding platforms. Originally designed as a train station with
						freight traffic, Teschenhagen now serves as a stop for regional
						trains of the Ostdeutsche Eisenbahn GmbH (ODEG), which offer
						connections between Rostock, Stralsund, and Sassnitz or Binz. The
						historic reception building is still intact and was partially
						inhabited until mid-2022.
					</div>
				</div>
				<div id="9samt">
					<div class="station">Samtens</div>
					<div class="desc">
						The Samtens train station is located on the outskirts of the
						eponymous municipality on Ruegen. It is also located on the
						Stralsund–Sassnitz railway line and is served by regional trains of
						the ODEG. After the expansion of the Electronic Signal Box (ESTW)
						from Altefaehr to Bergen, the station is unstaffed. The platforms
						were modernized, with the main platform being renovated and a new
						outer platform towards Bergen being constructed.
					</div>
				</div>
				<div id="9ramb">
					<div class="station">Rambin (Ruegen)</div>
					<div class="desc">
						The Rambin (Ruegen) station was opened on July 1, 1883, on the
						Stralsund–Sassnitz railway line and is located on the outskirts of
						the municipality of Rambin. It has two tracks with corresponding
						platforms and is also served by regional trains of the ODEG, which
						offer hourly connections between Rostock, Stralsund, and the seaside
						resorts of the island of Ruegen. The historic reception building is
						still present, but no longer in operation.
					</div>
				</div>
				<div id="9alte">
					<div class="station">Altefaehr</div>
					<div class="desc">
						The Altefaehr train station is located about one kilometer southeast
						of the center of Altefaehr on the island of Ruegen, just around 200
						meters from the Strelasund. It was opened on July 1, 1883, and is
						located on the Stralsund–Sassnitz railway line. Before the
						construction of the Ruegen Causeway in the 1930s, Altefaehr was only
						accessible by ferry; the original station was then located closer to
						the ferry terminal. Today, regional express trains of the
						Ostdeutsche Eisenbahn GmbH (ODEG) stop here every two hours on the
						route from Rostock via Stralsund to Sassnitz or Binz. The central
						location of the station allows travelers to reach the town center
						and the waterfront promenade on foot in just a few minutes.
					</div>
				</div>
				<div id="9rueg">
					<div class="station">Stralsund Ruegendamm</div>
					<div class="desc">
						The Stralsund station Ruegendamm, also known as Ruegendamm Station,
						was opened on October 5, 1936, and is located on the
						Stralsund–Sassnitz railway line. It is located a few meters before
						the Ziegelgraben Bridge, which connects Stralsund with the island of
						Ruegen. The station has a partially covered central platform and is
						served by regional trains of the ODEG, which offer connections
						between Rostock, Stralsund, and Sassnitz or Binz. Parking is
						available in front of the station, and there is a connection to
						public transportation. A ticket counter or other service facilities
						are not available, however.
					</div>
				</div>
				<div id="9stral">
					<div class="station">Stralsund</div>
					<div class="desc">
						Stralsund Hauptbahnhof, opened in 1863 and redesigned in 1905 in
						neo-Gothic style, is the main railway hub of the Hanseatic city. It
						connects northern Germany with the island of Ruegen and major cities
						like Berlin and Hamburg. The RE9 regional train runs every two hours
						between Rostock and Lietzow, continuing alternately to Sassnitz or
						Ostseebad Binz. The station offers six tracks, barrier-free access,
						shops, DB services, and direct connections to local buses and taxis.
					</div>
				</div>
			</div>
			<h1 class="center re27">
				RE27 <br /> Bergen(Ruegen) - Sassnitz Ferry terminal
			</h1>
			<div class="items">
				<div id="27berg">
					<div class="station">Bergen(Ruegen)</div>
					<div class="desc">
						Bergen is the district town of Ruegen and is the most populous city
						on Ruegen. It is one of the central traffic hubs of the island of
						Ruegen. It has facilities such as bicycle parking, parking spaces,
						and taxis. The DB Travel Center offers personal consultation and
						ticket sales.
					</div>
				</div>
				<div id="27safe">
					<div class="station">Sassnitz Ferry terminal</div>
					<div class="desc">
						Sassnitz Faehrhafen station sits directly within the Mukran Port
						complex on the island of Ruegen, providing seamless rail‑to‑ferry
						connections to Rønne (Bornholm) and Trelleborg (Sweden). It is the
						western terminus of the seasonal RE27 service, operated by
						Hanseatische Eisenbahn, which runs primarily on Saturdays and
						Sundays between May and October, offering one or two trains per
						direction per day timed to ferry departures and arrivals
					</div>
				</div>
			</div>
			<h1 class="center zuggebringer">
				Zu|g|ebringer <br /> Bergen(Ruegen) - Lauterbach Pier
			</h1>
			<div class="items">
				<div id="zberg">
					<div class="station">Bergen(Ruegen)</div>
					<div class="desc">
						Bergen is the district town of Ruegen and is the most populous city
						on Ruegen. It is one of the central traffic hubs of the island of
						Ruegen. It has facilities such as bicycle parking, parking spaces,
						and taxis. The DB Travel Center offers personal consultation and
						ticket sales.
					</div>
				</div>
				<div id="zputb">
					<div class="station">Putbus</div>
					<div class="desc">
						Putbus is a small town on the island of Ruegen with about 4,000
						residents. The Putbus train station is located in the center of the
						town and is served by the Ruegensche Kleinbahn, a narrow-gauge
						railway that connects Putbus with Binz, Goehren, and Lauterbach. The
						station building is a listed building and was built in 1899.
					</div>
				</div>
				<div id="zlaut">
					<div class="station">Lauterbach</div>
					<div class="desc">
						It is located on the single‑track branch line from Bergen auf Ruegen
						to Lauterbach Mole. This standard‑gauge halt connects the small
						harbour town of Lauterbach to Putbus and beyond.
					</div>
				</div>
				<div id="zlamo">
					<div class="station">Lauterbach Pier</div>
					<div class="desc">
						Lauterbach Mole station is the dual‑gauge terminus (standard +
						750 mm narrow gauge) at the edge of the Ruegischer Bodden. It
						functions as a “Zugbringer” (feeder train) for passengers
						transferring between the Regio‑Shuttle services and the historic
						steam‑hauled Rasender Roland.
					</div>
				</div>
			</div>
			<h1 class="center roland">
				Racing Roland <br /> Lauterbach Pier - Goehren
			</h1>
			<div class="items">
				<div id="Plamo">
					<div class="station">Lauterbach Pier</div>
					<div class="desc">
						Lauterbach Mole station is the dual‑gauge terminus (standard +
						750 mm narrow gauge) at the edge of the Ruegischer Bodden. It
						functions as a “Zugbringer” (feeder train) for passengers
						transferring between the Regio‑Shuttle services and the historic
						steam‑hauled Rasender Roland.
					</div>
				</div>
				<div id="Plaut">
					<div class="station">Lauterbach</div>
					<div class="desc">
						It is located on the single‑track branch line from Bergen auf Ruegen
						to Lauterbach Mole. This standard‑gauge halt connects the small
						harbour town of Lauterbach to Putbus and beyond.
					</div>
				</div>
				<div id="Pputb">
					<div class="station">Putbus</div>
					<div class="desc">
						Putbus is a small town on the island of Ruegen with about 4,000
						residents. The Putbus train station is located in the center of the
						town and is served by the Ruegensche Kleinbahn, a narrow-gauge
						railway that connects Putbus with Binz, Goehren, and Lauterbach. The
						station building is a listed building and was built in 1899.
					</div>
				</div>
				<div id="Pbeuc">
					<div class="station">Beuchow</div>
					<div class="desc">
						Beuchow is a small village on the island of Ruegen with about 200
						residents. The Beuchow train station is located in the center of the
						village and is served by the Ruegensche Kleinbahn, a narrow-gauge
						railway that connects Beuchow with Putbus and Lauterbach. The
						station building is a listed building and was built in 1899.
					</div>
				</div>
				<div id="Ppose">
					<div class="station">Posewald</div>
					<div class="desc">
						Posewald is a request halt at the forest edge, ideal for exploring
						the Biosphere Reserve trails.
					</div>
				</div>
				<div id="Pseel">
					<div class="station">Seelvitz</div>
					<div class="desc">
						Seelvitz is a small village stop on the Moenchgut peninsula,
						providing access to nearby farms and footpaths.
					</div>
				</div>
				<div id="Psera">
					<div class="station">Serams</div>
					<div class="desc">
						Serams is a rural town surrounded by open fields and orchards.
					</div>
				</div>
				<div id="Pbilb">
					<div class="station">Binz LB</div>
					<div class="desc">
						It is located in the north of Binz’s main station, this tiny stop
						gives walkers direct access to coastal woodland paths.
					</div>
				</div>
				<div id="Pjagd">
					<div class="station">Hunting lodge Granitz</div>
					<div class="desc">
						It is the only halt in the heart of the Granitz forest; it’s the
						drop‑off point for the 19th‑century hunting lodge of the Prince of
						Putbus.
					</div>
				</div>
				<div id="Pgarf">
					<div class="station">Garftitz</div>
					<div class="desc">
						It serves the village of Garftitz, offering a gateway to local farm
						stays and quiet country lanes.
					</div>
				</div>
				<div id="Pselw">
					<div class="station">Sellin West</div>
					<div class="desc">
						On the western edge of the resort town Sellin, this halt is closest
						to the Sellin sand dunes and western forest park
					</div>
				</div>
				<div id="Pselo">
					<div class="station">Sellin East</div>
					<div class="desc">
						The eastern Sellin station sits near the historic pier and newly
						restored station building, acting as a scheduled crossing point for
						trains in high season.
					</div>
				</div>
				<div id="Pbaab">
					<div class="station">Baabe</div>
					<div class="desc">
						Directly in the coastal spa town of Baabe, known for its beach
						promenade, Baaber Bollwerk and colourful bathhouses.
					</div>
				</div>
				<div id="Pphil">
					<div class="station">Philippshagen</div>
					<div class="desc">
						Is a request halt serving the small settlement of Philippshagen,
						famous for its half‑timbered houses.
					</div>
				</div>
				<div id="Pgoeh">
					<div class="station">Goehren</div>
					<div class="desc">
						The eastern terminus at the seaside resort of Goehren, featuring
						classic resort architecture, a sandy beach and the pier at
						Seebruecke
					</div>
				</div>
			</div>
			<Footer />
		</main></body
	>
</html>
