---
// Component Imports
import "../css/style.css";
import "../css/id.css";
import "../css/info.css";
import "../css/desktop.css";
import "../css/mobile.css";
import Footer from "../components/footer.astro";
import Head from "../components/header.astro";

//parts
import Sass from "../components/parts/sass.astro";
import Lanc from "../components/parts/lanc.astro";
import Saga from "../components/parts/saga.astro";
import Binz from "../components/parts/binz.astro";
import Liet from "../components/parts/liet.astro";
import Berg from "../components/parts/berg.astro";
import Tesc from "../components/parts/tesc.astro";
import Samt from "../components/parts/samt.astro";
import Ramb from "../components/parts/ramb.astro";
import Alte from "../components/parts/alte.astro";
import Rueg from "../components/parts/rueg.astro";
import Stral from "../components/parts/stral.astro";
import Safe from "../components/parts/safe.astro";
import Putb from "../components/parts/putb.astro";
import Laut from "../components/parts/laut.astro";
import Lamo from "../components/parts/lamo.astro";
import Beuc from "../components/parts/beuc.astro";
import Sera from "../components/parts/sera.astro";
import Pose from "../components/parts/pose.astro";
import Seel from "../components/parts/seel.astro";
import Bilb from "../components/parts/bilb.astro";
import Jagd from "../components/parts/jagd.astro";
import Garf from "../components/parts/garf.astro";
import Selw from "../components/parts/selw.astro";
import Selo from "../components/parts/selo.astro";
import Baab from "../components/parts/baab.astro";
import Phil from "../components/parts/phil.astro";
import Goeh from "../components/parts/goeh.astro";
---

<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Trains of Ruegen" />
		<meta
			name="keywords"
			content="Trains, Ruegen, EMA, EMA-Gym, Gym, EMA-Gymnasium, Gymnasium, Bergen, Bergen auf Ruegen, Stralsund, Sassnitz, Lauterbach, Goehren, Binz, RE27, RE9, Zug, Zugebringer, Racing Roland"
		/>
		<title>Trains of Ruegen</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<Head />
		<main class="cd-main-content">
			<h1 class="center re9">
				RE9 <br /> Stralsund - Sassnitz; Baltic resort Binz
			</h1>
			<div class="items">
				<div id="9sass">
					<Sass />
				</div>
				<div id="9lanc">
					<Lanc />
				</div>
				<div id="9saga">
					<Saga />
				</div>
				<div id="9binz">
					<Binz />
				</div>
				<div id="9liet">
					<Liet />
				</div>
				<div id="9berg">
					<Berg />
				</div>
				<div id="9tesc">
					<Tesc />
				</div>
				<div id="9samt">
					<Samt />
				</div>
				<div id="9ramb">
					<Ramb />
				</div>
				<div id="9alte">
					<Alte />
				</div>
				<div id="9rueg">
					<Rueg />
				</div>
				<div id="9stral">
					<Stral />
				</div>
			</div>
			<h1 class="center re27">
				RE27 <br /> Bergen(Ruegen) - Sassnitz Ferry terminal
			</h1>
			<div class="items">
				<div id="27berg">
					<Berg />
				</div>
				<div id="27safe">
					<Safe />
				</div>
			</div>
			<h1 class="center zuggebringer">
				Zu|g|ebringer <br /> Bergen(Ruegen) - Lauterbach Pier
			</h1>
			<div class="items">
				<div id="zberg">
					<Berg />
				</div>
				<div id="zputb">
					<Putb />
				</div>
				<div id="zlaut">
					<Laut />
				</div>
				<div id="zlamo">
					<Lamo />
				</div>
			</div>
			<h1 class="center roland">
				Racing Roland <br /> Lauterbach Pier - Goehren
			</h1>
			<div class="items">
				<div id="Plamo">
					<Lamo />
				</div>
				<div id="Plaut">
					<Laut />
				</div>
				<div id="Pputb">
					<Putb />
				</div>
				<div id="Pbeuc"><Beuc /></div>
				<div id="Ppose"><Pose /></div>
				<div id="Pseel"><Seel /></div>
				<div id="Psera"><Sera /></div>
				<div id="Pbilb"><Bilb /></div>
				<div id="Pjagd"><Jagd /></div>
				<div id="Pgarf"><Garf /></div>
				<div id="Pselw"><Selw /></div>
				<div id="Pselo"><Selo /></div>
				<div id="Pbaab"><Baab /></div>
				<div id="Pphil"><Phil /></div>
				<div id="Pgoeh"><Goeh /></div>
			</div>
			<Footer />
		</main></body
	>
</html>
