<header>
	<div class="cd-dropdown-wrapper">
		<a class="cd-dropdown-trigger" href="#0"> Menu </a>
		<nav class="cd-dropdown">
			<h2>Menu</h2>
			<ul class="cd-dropdown-content">
				<li>
					<a href="#"> Index </a>
				</li>
				<li>
					<a href="info.html"> Helpful information </a>
				</li>
				<li>
					<a href="gallery.html"> Fotos </a>
				</li>
			</ul>
		</nav>
	</div>
</header>
