@media only screen and (max-width: 800px) {
	/*
	Design from the cards | Mobile(678px)
	*/
	.items {
		grid-template-columns: 1fr;
		gap: 10px;
		padding: 10px;
	}

	.station {
		font-size: 1.2rem;
	}

	.desc {
		font-size: 0.95rem;
	}

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 21px;
	}

	h4 {
		font-size: 19px;
	}

	h5 {
		font-size: 17px;
	}

	h6 {
		font-size: 15px;
	}

	p {
		font-size: 13px;
	}
}
