<div class="station">Altefaehr</div>
<div class="desc">
	The Altefaehr train station is located about one kilometer southeast of the
	center of Altefaehr on the island of Ruegen, just around 200 meters from the
	Strelasund. It was opened on July 1, 1883, and is located on the
	Stralsund–Sassnitz railway line. Before the construction of the Ruegen
	Causeway in the 1930s, Altefaehr was only accessible by ferry; the original
	station was then located closer to the ferry terminal. Today, regional express
	trains of the Ostdeutsche Eisenbahn GmbH (ODEG) stop here every two hours on
	the route from Rostock via Stralsund to Sassnitz or Binz. The central location
	of the station allows travelers to reach the town center and the waterfront
	promenade on foot in just a few minutes.
</div>
