<div class="station">Bergen(Ruegen)</div>
<div class="desc">
	Bergen is the district town of Ruegen and is the most populous city on Ruegen.
	It is one of the central traffic hubs of the island of Ruegen. It has
	facilities such as bicycle parking, parking spaces, and taxis. The DB Travel
	Center offers personal consultation and ticket sales.
</div>
