<div class="station">Baltic resort Binz</div>
<div class="desc">
	The Baltic resort Binz train station is the main train station of the popular
	seaside resort Binz on the island of Ruegen. It was opened on May 15, 1939.
	The reception building dates back to 1938 and is still in operation today. The
	station has three platform tracks and is accessible for people with
	disabilities. It is regularly served by regional and long-distance trains,
	offering connections to cities such as Berlin, Hamburg, and Munich. The
	central location of the station allows travelers to reach the town center, the
	pier, and the fine sandy beach within a few minutes on foot. In addition,
	there is a connection to public transportation and taxis at the station,
	making it easy to continue traveling within Binz and beyond.
</div>
