<div class="station">Hunting lodge Granitz</div>
<div class="desc">
	It is the only halt in the heart of the Granitz forest; it’s the drop‑off
	point for the 19th‑century hunting lodge of the Prince of Putbus.
</div>
