<div class="station">Lancken</div>
<div class="desc">
	Lancken is a part of Sassnitz. This station is only equipped for the
	essentials, such as an intercom system, a timetable, and a shelter. In
	addition, there is a track to the chalk mine.
</div>
