<div class="station">Lietzow (Ruegen)</div>
<div class="desc">
	The Lietzow (Ruegen) train station was opened in 1891 as a stop on the
	Stralsund–Sassnitz railway line and is located on the southern edge of
	Lietzow. Since 1939, the railway line to Binz branches off here, making
	Lietzow an important transfer point on the island of Ruegen. In 2009/10, an
	extensive renovation of the station took place, during which the number of
	main tracks was reduced to four. Today, the station is served by regional
	trains of the Ostdeutsche Eisenbahn GmbH (ODEG), which offer connections
	between Rostock, Stralsund, Sassnitz, and Binz. However, there is always a
	shuttle train that goes to the other stop.
</div>
