<div class="station">Rambin (Ruegen)</div>
<div class="desc">
	The Rambin (Ruegen) station was opened on July 1, 1883, on the
	Stralsund–Sassnitz railway line and is located on the outskirts of the
	municipality of Rambin. It has two tracks with corresponding platforms and is
	also served by regional trains of the ODEG, which offer hourly connections
	between Rostock, Stralsund, and the seaside resorts of the island of Ruegen.
	The historic reception building is still present, but no longer in operation.
</div>
