<div class="station">Stralsund Ruegendamm</div>
<div class="desc">
	The Stralsund station Ruegendamm, also known as Ruegendamm Station, was opened
	on October 5, 1936, and is located on the Stralsund–Sassnitz railway line. It
	is located a few meters before the Ziegelgraben Bridge, which connects
	Stralsund with the island of Ruegen. The station has a partially covered
	central platform and is served by regional trains of the ODEG, which offer
	connections between Rostock, Stralsund, and Sassnitz or Binz. Parking is
	available in front of the station, and there is a connection to public
	transportation. A ticket counter or other service facilities are not
	available, however.
</div>
