<div class="station">Sassnitz Ferry terminal</div>
<div class="desc">
	Sassnitz Faehrhafen station sits directly within the Mukran Port complex on
	the island of Ruegen, providing seamless rail‑to‑ferry connections to Rønne
	(Bornholm) and Trelleborg (Sweden). It is the western terminus of the seasonal
	RE27 service, operated by Hanseatische Eisenbahn, which runs primarily on
	Saturdays and Sundays between May and October, offering one or two trains per
	direction per day timed to ferry departures and arrivals
</div>
