<div class="station">Samtens</div>
<div class="desc">
	The Samtens train station is located on the outskirts of the eponymous
	municipality on Ruegen. It is also located on the Stralsund–Sassnitz railway
	line and is served by regional trains of the ODEG. After the expansion of the
	Electronic Signal Box (ESTW) from Altefaehr to Bergen, the station is
	unstaffed. The platforms were modernized, with the main platform being
	renovated and a new outer platform towards Bergen being constructed.
</div>
