<div class="station">Sassnitz</div>
<div class="desc">
	Sassnitz is the white harbor town by the sea, it has about 10,000 residents,
	with that, it is the second-largest city. She owns a port where until 2000 the
	\"Stenaline\" a ferry to Trelleborg (Sweden) was departing. From this port,
	freight trains were shipped to the USSR during the GDR era.
</div>
